@using AmplaWeb.Data.Records
@using AmplaWeb.Sample.BootstrapSupport
@model ModelVersions

<fieldset>
    <legend>@Model.ModelName <small> Versions</small></legend>
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span2">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="@Url.Action("Details", Model.GetIdValue())">
                            <i class="icon-star"> </i> <span>Model</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("Versions", Model.GetIdValue())">
                            <i class="icon-chevron-right"> </i> <span>Versions</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Record", Model.GetIdValue())"><i class="icon-list-alt"> </i> Record</a>
                    </li>
                </ul>
            </div>
            <div class="span10">
                <div class="pagination">
                    <ul>
                        <li class="disabled"><a href="#" >Version:</a></li>
                        @{ bool first = true; }
                        @for (int j = Model.Versions.Count - 1; j >= 0; j--)
                        {
                            string page = string.Format("#ver{0}", j);
                            string activepage = first ? "active" : "";
                            first = false;
                            
                            
                            <li class="@activepage"><a data-toggle="tab" href = @page >@j</a></li>
                        }
                    </ul>
                </div>
                
                <div class="tab-content">
                    @{
                        for (int i = Model.Versions.Count - 1; i >= 0; i--)
                        {
                            ModelVersion version = Model.Versions[i];
                            string active = version.IsCurrentVersion ? " active" : "";
                            string href = string.Format("ver{0}", i);
                            <div class="tab-pane @active " id = "@href">
                                @{
                                    Html.RenderPartial("_ModelDetails", version.Object);
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</fieldset>
 