@using AmplaData.Data.Display
@using AmplaData.Data.Records
@using AmplaData.Web.Sample.BootstrapSupport
@model ModelVersions

<fieldset>
    <legend>@Model.ModelName <small> Versions</small></legend>
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span2">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="@Url.Action("Details", Model.GetIdValue())">
                            <i class="icon-star"> </i> <span>Model</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("Versions", Model.GetIdValue())">
                            <i class="icon-chevron-right"> </i> <span>Versions</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Record", Model.GetIdValue())"><i class="icon-list-alt"> </i> Record</a>
                    </li>
                </ul>
            </div>
            <div class="span10">
                <div class="pagination">
                    <ul>
                        <li class="disabled"><a href="#" >Version:</a></li>
                        @foreach (var version in Model.Versions)
                        {
                            string page = string.Format("#ver{0}", version.Version);
                            string activepage = version.IsCurrentVersion ? "active" : "";
                            <li class="@activepage"><a data-toggle="tab" href = "@page" >@version.Version</a></li>
                        }
                    </ul>
                </div>
                
                <div class="tab-content">
                    @foreach (var version in Model.Versions)
                    {

                        string active = version.IsCurrentVersion ? " active" : "";
                        string href = string.Format("ver{0}", version.Version);
                        <div class="tab-pane @active " id = "@href">
                            <div class="well well-small">
                                <span class="muted">Version @version.Version:</span> @version.Display
                                <span class="pull-right">
                                    @if (version.IsCurrentVersion)
                                    {
                                        <span class="label label-info"> Current </span>
                                    }
                                    <span class="muted" title="@version.VersionDate"> @version.VersionDate.ToRelativeTimeMini()</span>
                                </span>
                 
                            </div>
                            @{
                                Html.RenderPartial("_ModelDetails", version.Object);
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</fieldset>
 